<%= javascript_pack_tag 'transcripts' %>

<%= form_with model: @transcript, local: true, html: {id: 'form_transcript', class: "transcript"} do |f| %>

  <div class="form-group">
    <div class="col-lg-4">
      <%= f.label :name, :class => 'control-label' %>
    </div>
    <div class="col-lg">
      <div id="form_transcript_name_errors" class="form-text text-danger">
        <ul>
          <% @transcript.errors[:name].each do |msg| %>
            <li class="text-danger"><%= msg %></li>
          <% end %>
        </ul>
      </div>

      <%= f.text_field :name, id: 'form_transcript_name', placeholder: t('.name_placeholder'), :class => 'form-control' %>
      <div class="form-text text-muted"><%= t('.name_hint') %></div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-4">
      <%= f.label :audio, :class => 'control-label' %>
      <span style="color: red;"><%= t('.required') %></span>
    </div>
    <div class="col-lg">
      <div id="form_transcript_audio_errors" class="form-text text-danger">
        <ul>
          <% @transcript.errors[:audio].each do |msg| %>
            <li class="text-danger"><%= msg %></li>
          <% end %>
        </ul>
      </div>

      <div class="custom-file">
        <%= f.file_field :audio, id: 'form_transcript_audio', class: 'custom-file-input', required: true %>
        <label class="custom-file-label text-muted" for="audio" data-browse="<%= t('.browse') %>"><%= t('.choose_file') %></label>
      </div>
      <div class="form-text text-muted"><%= t('.audio_hint') %></div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, id: 'form_transcript_submit', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), transcripts_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
