<%= javascript_pack_tag 'requests' %>

<%= form_with model: @request, local: true, html: {id: 'model_form', class: "request"} do |f| %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.label :audio, :class => 'control-label' %>
      <%= modal_trigger(target: '#form_request_audio') do %>
        <i class="text-muted far fa-question-circle"></i>
      <% end %>
      <span class="text-danger"><%= t('.required') %></span>

      <div id="model_form_audio_errors" class="form-text text-danger" style="display: none;">
        <ul>
          <% @request.errors[:audio].each do |msg| %>
            <li class="text-danger"><%= msg %></li>
          <% end %>
        </ul>
      </div>

      <div class="custom-file">
        <%= f.file_field :audio, id: 'model_form_audio', class: 'custom-file-input', required: true %>
        <label class="custom-file-label text-muted" for="audio" data-browse="<%= t('.browse') %>"><%= t('.choose_file') %></label>
      </div>
    </div>
    <div class="col">
      <ul class="list-unstyled">
        <% t('.audio_hints_html').each do |hint| %>
          <li>
            <div class="text-muted mb-1" style="font-size: small;">&sdot;<%= hint %></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-6">
      <%= f.label :name, :class => 'control-label' %>
      <%= modal_trigger(target: '#form_request_name') do %>
        <i class="text-muted far fa-question-circle"></i>
      <% end %>
      <span class="text-muted"><%= t('.optional') %></span>

      <div id="model_form_name_errors" class="form-text text-danger" style="display: none;">
        <ul>
          <% @request.errors[:name].each do |msg| %>
            <li class="text-danger"><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <%= f.text_field :name, id: 'model_form_name', placeholder: t('.name_placeholder'), :class => 'form-control' %>
    </div>
    <div class="col">
      <ul class="list-unstyled">
        <% t('.name_hints').each do |hint| %>
          <li>
            <div class="text-muted" style="font-size: small;">&sdot;<%= hint %></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="form-group mt-4">
    <%= f.submit nil, id: 'model_form_submit', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), requests_path, :class => 'btn btn-default' %>
  </div>

<% end %>

<%= modal_dialog(id: 'form_request_name', title: Request.human_attribute_name(:name), body: t('.modal.name')) %>
<%= modal_dialog(id: 'form_request_audio', title: Request.human_attribute_name(:audio), body: t('.modal.audio')) %>
