<%= javascript_pack_tag 'requests' %>
<%= javascript_pack_tag 'filer' %>

<%= form_with model: @request, local: true, html: {id: 'model_form', class: "request"} do |f| %>

  <div class="row align-items-center">
    <div class="col-lg-6">
      <div class="text-center">
        <%= f.label :audio %>
        <%= modal_trigger(target: '#form_request_audio') do %>
          <i class="text-muted far fa-question-circle"></i>
        <% end %>
      </div>

      <%= f.file_field :audio, id: 'model_form_audio', required: true %>

      <div id="model_form_audio_errors" class="invalid-feedback form-text" style="display: none;">
        <ul>
          <% @request.errors[:audio].each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col">
      <ul class="list-unstyled">
        <% t('.audio_hints_html').each do |hint| %>
          <li>
            <div class="text-muted mb-3" style="font-size: small;">&sdot;<%= hint %></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row text-center my-5">
    <div class="col">
      <%= f.submit t('.create'), id: 'model_form_submit', :class => 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>

<%= modal_dialog(id: 'form_request_name', title: Request.human_attribute_name(:name), body: t('.modal.name')) %>
<%= modal_dialog(id: 'form_request_audio', title: Request.human_attribute_name(:audio), body: t('.modal.audio')) %>
