<% content_for :title, t('.meta.title') %>
<% content_for :description, t('.meta.description', price: t('layouts.application.price_per_minute'), duration: t('layouts.application.free_duration')) %>
<%- model_class = Request -%>

<%= gradient_header do %>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h1 class="text-white"><%= t('.page_header.title') %></h1>
        <p class="text-white mb-5"><%= t('.page_header.text', price: t('layouts.application.price_per_minute'), duration: t('layouts.application.free_duration')) %></p>
        <a href="#create_request" class="btn btn-lg btn-primary d-inline-block"><%= t('.page_header.free_trial') %></a>
        &nbsp;
        <a class="text-white" href="#how_to_use"><%= t('.page_header.see_more') %></a>
        <div class="d-block d-lg-none mb-5"></div>
      </div>
      <div class="col-lg"><img class="img-fluid rounded" src="<%= image_path '/page_header.png' %>" alt=""></div>
    </div>
  </div>
<% end %>

<div class="container">

  <h2 class="h3 mt-5"><%= t('.use_case.title') %></h2>
  <div class="my-5"><%= t('.use_case.desc') %></div>

  <div class="container">
    <div class="row text-center">
      <div class="col-lg-4 mb-5">
        <h5 class="mb-3"><%= t('.use_case.interview') %></h5>
        <img class="img-fluid rounded-lg shadow" src="<%= image_path '/use_case_interview.png' %>"/>
      </div>
      <div class="col-lg mb-5">
        <h5 class="mb-3"><%= t('.use_case.meeting') %></h5>
        <img class="img-fluid rounded-lg shadow" src="<%= image_path '/use_case_meeting.png' %>"/>
      </div>
      <div class="col-lg mb-5">
        <h5 class="mb-3"><%= t('.use_case.seminar') %></h5>
        <img class="img-fluid rounded-lg shadow" src="<%= image_path '/use_case_seminar.png' %>"/>
      </div>
    </div>
  </div>

  <h2 class="h3 mt-5"><%= t('.reason_for_choosing.title') %></h2>
  <div class="my-5"><%= t('.reason_for_choosing.desc', price: t('layouts.application.price_per_minute'), duration: t('layouts.application.free_duration')) %></div>

  <div class="container">
    <div class="row text-center">
      <div class="col-lg-4 mb-5">
        <h5 class="mb-3"><%= t('.reason_for_choosing.price', duration: t('layouts.application.free_duration')) %></h5>
        <img class="img-fluid rounded-lg shadow" src="<%= image_path '/reason_for_choosing_price.png' %>"/>
        <div class="mt-2"><%= t('.reason_for_choosing.price_other') %></div>
      </div>
      <div class="col-lg mb-5">
        <h5 class="mb-3"><%= t('.reason_for_choosing.speed') %></h5>
        <img class="img-fluid rounded-lg shadow" src="<%= image_path '/reason_for_choosing_speed.png' %>"/>
        <div class="mt-2"><%= t('.reason_for_choosing.speed_other') %></div>
      </div>
      <div class="col-lg mb-5">
        <h5 class="mb-3"><%= t('.reason_for_choosing.trouble') %></h5>
        <img class="img-fluid rounded-lg shadow" src="<%= image_path '/reason_for_choosing_trouble.png' %>"/>
        <div class="mt-2"><%= t('.reason_for_choosing.trouble_other') %></div>
      </div>
    </div>
  </div>

  <hr>

  <div style="position: relative;">
    <div id="create_request" style="position: absolute; margin-top: -100px;"></div>
  </div>
  <h2 class="h3 mt-5"><%= t('.create.title') %></h2>
  <div class="text-primary my-5"><%= t('.create.appeal', remaining: remaining_duration_text(@requests)) %></div>
  <div class="my-5"><%= t('.create.desc', price: t('layouts.application.price_per_minute'), duration: t('layouts.application.free_duration')) %></div>

  <%= render :partial => 'form' %>

  <hr>

  <h2 class="h3 mt-4"><%= t('.list.title') %></h2>
  <div class="my-5"><%= t('.list.desc', expiration_kinds) %></div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>
        <%= model_class.human_attribute_name(:name) %>
        <%= modal_trigger(target: '#hint_request_name') do %>
          <i class="text-muted far fa-question-circle"></i>
        <% end %>
      </th>
      <th>
        <%= model_class.human_attribute_name(:audio) %>
        <%= modal_trigger(target: '#hint_request_audio') do %>
          <i class="text-muted far fa-question-circle"></i>
        <% end %>
      </th>
      <th>
        <%= model_class.human_attribute_name(:output) %>
        <%= modal_trigger(target: '#hint_request_output') do %>
          <i class="text-muted far fa-question-circle"></i>
        <% end %>
      </th>
      <th>
        <%= model_class.human_attribute_name(:created_at) %>
        <%= modal_trigger(target: '#hint_request_created_at') do %>
          <i class="text-muted far fa-question-circle"></i>
        <% end %>
      </th>
      <th>
        <%= model_class.human_attribute_name(:expires_at) %>
        <%= modal_trigger(target: '#hint_request_expires_at') do %>
          <i class="text-muted far fa-question-circle"></i>
        <% end %>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @requests.each do |request| %>
      <% audio = request.audio %>
      <% transcript = request.transcript %>
      <tr>
        <td><%= request.name %></td>
        <td>
          <% if audio.blob.attached? %>
            <%= link_to audio.filename, url_for(audio.blob) %> <%= duration_text(audio.duration) %>
          <% else %>
            <%= audio.filename %>
          <% end %>
        </td>
        <td>
          <% if transcript.blob.attached? %>
            <div><%= link_to t('.download'), url_for(transcript.blob) %> <%= t('.x_characters', count: transcript.character_count) %></div>
            <div style="font-size: small; overflow: hidden;" class="text-muted"><%= transcript.summary.truncate(50) %></div>
          <% else %>
            <%= t(".status.#{transcript.status}") %>
          <% end %>
        </td>
        <td><%= l request.created_at.in_time_zone('Tokyo'), format: :short %></td>
        <td><%= distance_of_time_in_words_to_now((request.created_at + 30.days).in_time_zone('Tokyo')) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% t('.list.notices_html', expiration_kinds).each do |message| %>
    <div class="text-muted my-5"><%= message %></div>
  <% end %>

  <hr>

  <div style="position: relative;">
    <div id="how_to_use" style="position: absolute; margin-top: -100px;"></div>
  </div>
  <h2 id="how_to_use" class="h3 mt-4"><%= t('.how_to_use.title') %></h2>
  <div class="my-5"><%= t('.how_to_use.desc') %></div>

  <% t('.how_to_use.titles').zip(t('.how_to_use.texts'), t('.how_to_use.images')).each.with_index do |(title, text, image), i| %>
    <div class="row mb-5">
      <div class="col-lg-6">
        <div class="text-primary"><%= i + 1 %>. <%= title %></div>
        <div class="mt-2"><%= text %></div>
      </div>
      <div class="col shadow"><img style="width: 100%;" src="<%= image_path image %>" alt=""></div>
    </div>
  <% end %>

  <hr>

  <%= render partial: 'requests/shared/qa' %>

  <hr>

  <h2 class="h3 mt-4"><%= t('.inquiry.title') %></h2>
  <div class="my-5"><%= t('.inquiry.desc_html', price: t('layouts.application.price_per_minute'), duration: t('layouts.application.free_duration')) %></div>

</div>

<%= modal_dialog(id: 'hint_request_name', title: model_class.human_attribute_name(:name), body: t('.modal.name')) %>
<%= modal_dialog(id: 'hint_request_audio', title: model_class.human_attribute_name(:audio), body: t('.modal.audio')) %>
<%= modal_dialog(id: 'hint_request_output', title: model_class.human_attribute_name(:output), body: t('.modal.output')) %>
<%= modal_dialog(id: 'hint_request_created_at', title: model_class.human_attribute_name(:created_at), body: t('.modal.created_at')) %>
<%= modal_dialog(id: 'hint_request_expires_at', title: model_class.human_attribute_name(:expires_at), body: t('.modal.expires_at', expiration_kinds)) %>
