<div class="container pt-5">
  <%- model_class = Request -%>
  <h1 class="h3"><%= t('.how_to_use.title') %></h1>
  <div class="mb-5"><%= t('.how_to_use.text') %></div>

  <h1 class="h3"><%= t('.inquiry.title') %></h1>
  <div class="mb-5"><%= t('.inquiry.text') %></div>

  <hr>

  <h1 class="h3"><%= t('.create.title') %></h1>
  <div class="mb-5"><%= t('.create.text') %></div>
  <%= render :partial => 'form' %>

  <hr>

  <h1 class="h3"><%= t('.list.title') %></h1>
  <div class="mb-5"><%= t('.list.text') %></div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:audio) %></th>
      <th><%= model_class.human_attribute_name(:output) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:expires_at) %></th>
    </tr>
    </thead>
    <tbody>
    <% @requests.each do |request| %>
      <% audio = request.audio %>
      <% transcript = request.transcript %>
      <tr>
        <td><%= request.name %></td>
        <td>
          <% if audio.blob.attached? %>
            <%= link_to audio.filename, url_for(audio.blob) %> <%= duration_text(audio.duration) %>
          <% else %>
            <%= audio.filename %>
          <% end %>
        </td>
        <td>
          <% if transcript.blob.attached? %>
            <div><%= link_to t('.download'), url_for(transcript.blob) %> <%= t('.x_characters', count: transcript.character_count) %></div>
            <div style="font-size: x-small; overflow: hidden;" class="text-muted"><%= transcript.summary %></div>
          <% else %>
            <%= t(".status.#{transcript.status}") %>
          <% end %>
        </td>
        <td><%= l request.created_at.in_time_zone('Tokyo'), format: :short %></td>
        <td><%= distance_of_time_in_words_to_now(7.days.since) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
