<%= gradient_header do %>
  <div class="container mt-lg-5">
    <div class="row align-items-lg-center">

      <div class="col-lg-6 offset-lg-3">
        <div class="bg-white shadow-sm rounded my-auto p-5">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="mb-4">
              <h2 class="h4 text-center">無料で新規登録する</h2>
            </div>

            <div class="mb-3">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true,
                                placeholder: "メールアドレス", 'aria-label': "メールアドレス" %>
            </div>

            <div class="mb-3">
              <%= f.phone_field :phone, autocomplete: "phone", class: 'form-control', required: true,
                                placeholder: "電話番号", 'aria-label': "電話番号" %>
            </div>

            <div class="mb-3">
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', required: true,
                                   placeholder: "パスワード（#{@minimum_password_length}文字以上）", 'aria-label': "パスワード" %>
            </div>

            <div class="mb-3">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', required: true,
                                   placeholder: "パスワード（確認用）", 'aria-label': "パスワード（確認用）" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="custom-control custom-checkbox mb-3">
                <%= f.check_box :remember_me, class: 'custom-control-input' %>
                <%= f.label :remember_me, class: 'custom-control-label' %>
              </div>
            <% end %>

            <button type="submit" class="btn btn-block btn-primary">この内容で新規登録する</button>
          <% end %>

          <div class="mb-3"></div>
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container mt-5">
  <%= render partial: 'requests/shared/qa' %>
</div>
